{% extends 'base.html.twig' %}

{% block title %} - Home{% endblock %}

{% block body %}
  <div>
    {% include 'base/html/page-title.html.twig' with {'title': 'Welcome to My Lasty Fm'} %}
  </div>
{% endblock %}