{% if not tbodyUrl is defined %}
  {% set tbodyUrl = 'base/html/table/tbody.html.twig' %}
{% endif %}


<section class="bg-gray-50 dark:bg-gray-900 py-3 sm:py-5">
  <div class="px-4 mx-auto max-w-screen-2xl lg:px-12">
    <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">

      {%  if pagination == true %}
        {% include 'base/html/table/table_header.html.twig' with {'pagination' : tbody} %}
      {% else %}
        {% include 'base/html/table/table_header.html.twig' with {}%}
      {% endif %}

      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          {% include 'base/html/table/thead.html.twig' with {'thead': thead} %}
          {% include tbodyUrl with {'tbody': tbody} %}
        </table>
      </div>

      {%  if pagination == true %}
        {% include 'base/html/table/table_footer.html.twig' with {'pagination' : tbody} %}
      {% else %}
        {% include 'base/html/table/table_footer.html.twig' %}
      {% endif %}

    </div>
  </div>
</section>


