<tbody>

{% for scrobble in tbody %}

  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

    {%  for cell in tbody  %}

      <td class="px-6 py-4">{{ cell }}</td>

    {% endfor %}

  </tr>

{% endfor %}

</tbody>