<div class="d-flex align-items-center">
  <label for="{{ input.vars.id }}" class="form-label-sm mx-2 {{ input.vars.required ? 'required' }} {{ visibility }}">
    {{ field_label(input) }}
  </label>
</div>