{% extends 'base.html.twig' %}

{% block title %} - My statistics{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('styles/gridstack_layout.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}

  {% include 'base/html/page-title.html.twig' with {'title': 'Your personal statistics'} %}
  <hr class="mt-3 mb-3" />

  <div>

    <div class="grid-stack">
      {# ********* GRID STACK HERE ********* #}
    </div>

    <p>
      <a href="{{ path('app_widget_new_statistic') }}">
        <button type="button" id="button-add-widget-page" class="button-colored-std" style="display: none">Add new statistic</button>
      </a>
    </p>


    <script>loadGrid();</script>
  </div>

{% endblock %}