{% extends 'base.html.twig' %}

{% block title %}My statistics{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('styles/gridstack_layout.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}

  <div>
    <div class="text-center">
      <h1 class="text-5xl ">Statistics</h1>
    </div>

    <div class="grid-stack">
      {# ********* GRID STACK HERE ********* #}
    </div>

    <p>
      <button id="button-add-widget" onclick="addWidget(grid)" class="button-black-std" style="display: none">Add widget</button>
      <span>      </span>
      <a href="{{ path('app_widget_new_statistic') }}">
        <button id="button-add-widget-page" class="button-black-std" style="display: none">Add widget Page</button>
      </a>
    </p>


    {# TODO : add spinner #}
    <script>loadGrid();</script>
  </div>

{% endblock %}