{% if not width is defined %}
  {% set width = 250 %}
{% endif %}
{% if not height is defined %}
  {% set height = 42 %}
{% endif %}

<div data-v-0dd9719b="" class="flex" style="width: {{ width }}px; height: {{ height }}px;">

  <svg data-v-0dd9719b="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 {{ width }} {{ height }}"
       preserveAspectRatio="xMidYMid meet" color-interpolation-filters="sRGB">

    {# LOGO #}
    <g transform="translate(0,0)">
      <g>
        <svg filter="url(#colors359768165)" x="0" y="0" width="60" height="100%" style="overflow: visible;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 0 102 96">
            <path
              d="M16.9 28.4c-.8-2-1.2-4.2-1.2-6.5 0-9.6 7.8-17.4 17.4-17.4 2.7 0 5.2.3 7.4 1.7l37.1 21.4m-31-12.8L9.5 36.3c-2.3 1.3-3.8 3.3-5.1 5.6-4.8 8.3-2 19 6.4 23.8 2 1.1 4.1 1.9 6.2 2.2m3-32.6v42.9c0 2.6.9 5 2.3 7.3 4.8 8.3 15.5 11.2 23.8 6.4 2-1.1 3.6-2.6 5-4.3m-26.6-19L61.6 90c2.3 1.3 4.8 1.7 7.4 1.7 9.6 0 17.4-7.8 17.4-17.4 0-2.3-.4-4.5-1.2-6.5M55.6 81.3l37.1-21.4c2.3-1.3 3.8-3.3 5.1-5.6 4.8-8.3 2-19-6.4-23.8-2-1.1-4.1-1.9-6.2-2.2m-3.1 32.5V18c0-2.6-.9-5-2.3-7.3C75 2.4 64.4-.5 56 4.3c-2 1.1-3.6 2.6-5 4.3m1 62.3l19.3-12.2-.9-22.8-20.3-10.6-19.2 12.2.9 22.8L52 70.9z"
              fill="none" stroke="#ED1C24" stroke-width="4" stroke-miterlimit="10"></path>
          </svg>
        </svg>
        <defs>
        </defs>
      </g>
    </g>


    {# TEXTE #}
    <svg x="0" y="0" width="100%" height="100%" style="overflow: visible;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 45">
        <g transform="translate(67,10.526723861694336)">
          <g data-gra="path-name" transform="translate(0,0)">

            <g transform="scale(1)">
              {# MUSIC #620A22 #}
              <g>
                <path
                  d="M10.3-2.23L8.94-2.23Q8.72-2.79 8.31-3.7 7.89-4.62 7.38-5.7 6.87-6.78 6.33-7.93 5.8-9.08 5.31-10.08 4.82-11.08 4.44-11.84 4.06-12.6 3.88-12.91L3.88-12.91Q3.59-10.13 3.42-6.86 3.26-3.59 3.12 0L3.12 0 1.63 0Q1.83-4.22 2.09-8.07 2.34-11.93 2.72-15.46L2.72-15.46 4.06-15.46Q4.73-14.34 5.49-12.88 6.24-11.42 6.99-9.85 7.74-8.27 8.44-6.75 9.14-5.22 9.68-3.99L9.68-3.99Q10.21-5.22 10.92-6.75 11.62-8.27 12.37-9.85 13.11-11.42 13.87-12.88 14.63-14.34 15.3-15.46L15.3-15.46 16.57-15.46Q16.95-11.93 17.21-8.07 17.46-4.22 17.66 0L17.66 0 16.12 0Q15.99-3.59 15.82-6.86 15.66-10.13 15.37-12.91L15.37-12.91Q15.19-12.6 14.81-11.84 14.43-11.08 13.94-10.08 13.45-9.08 12.91-7.93 12.38-6.78 11.86-5.7 11.35-4.62 10.94-3.7 10.53-2.79 10.3-2.23L10.3-2.23ZM30.06-11.53L30.06-0.4Q29.42-0.22 28.32 0 27.23 0.22 25.65 0.22L25.65 0.22Q24.35 0.22 23.48-0.16 22.61-0.54 22.08-1.23 21.54-1.92 21.31-2.9 21.08-3.88 21.08-5.06L21.08-5.06 21.08-11.53 22.53-11.53 22.53-5.53Q22.53-4.3 22.7-3.46 22.88-2.61 23.28-2.09 23.68-1.56 24.32-1.33 24.96-1.09 25.87-1.09L25.87-1.09Q26.9-1.09 27.65-1.2 28.41-1.32 28.61-1.41L28.61-1.41 28.61-11.53 30.06-11.53ZM36.26-1.03L36.26-1.03Q37.51-1.03 38.33-1.44 39.14-1.85 39.14-2.83L39.14-2.83Q39.14-3.3 39-3.64 38.85-3.97 38.52-4.24 38.18-4.51 37.63-4.75 37.09-5 36.29-5.33L36.29-5.33Q35.64-5.6 35.06-5.88 34.48-6.16 34.03-6.52 33.59-6.89 33.32-7.4 33.05-7.92 33.05-8.65L33.05-8.65Q33.05-10.06 34.11-10.93 35.17-11.8 37.02-11.8L37.02-11.8Q38.2-11.8 38.97-11.6 39.74-11.4 40.05-11.24L40.05-11.24 39.72-9.95Q39.45-10.08 38.82-10.3 38.18-10.53 36.95-10.53L36.95-10.53Q36.46-10.53 36.03-10.43 35.59-10.33 35.26-10.11 34.93-9.9 34.72-9.58 34.52-9.26 34.52-8.79L34.52-8.79Q34.52-8.32 34.7-7.98 34.88-7.65 35.23-7.39 35.57-7.14 36.07-6.91 36.58-6.69 37.22-6.42L37.22-6.42Q37.89-6.16 38.5-5.88 39.12-5.6 39.59-5.21 40.05-4.82 40.34-4.27 40.63-3.72 40.63-2.9L40.63-2.9Q40.63-1.34 39.46-0.54 38.29 0.27 36.26 0.27L36.26 0.27Q34.75 0.27 33.94 0.01 33.14-0.25 32.87-0.38L32.87-0.38 33.25-1.69Q33.32-1.65 33.54-1.55 33.77-1.45 34.14-1.33 34.52-1.2 35.05-1.12 35.57-1.03 36.26-1.03ZM44.89-11.53L44.89 0 43.44 0 43.44-11.53 44.89-11.53ZM45.23-15.01L45.23-15.01Q45.23-14.5 44.92-14.2 44.6-13.89 44.16-13.89L44.16-13.89Q43.71-13.89 43.4-14.2 43.09-14.5 43.09-15.01L43.09-15.01Q43.09-15.52 43.4-15.82 43.71-16.12 44.16-16.12L44.16-16.12Q44.6-16.12 44.92-15.82 45.23-15.52 45.23-15.01ZM53.5 0.25L53.5 0.25Q52.16 0.25 51.14-0.18 50.11-0.6 49.43-1.39 48.75-2.19 48.4-3.29 48.04-4.39 48.04-5.73L48.04-5.73Q48.04-7.09 48.41-8.21 48.77-9.32 49.47-10.13 50.16-10.93 51.14-11.36 52.12-11.8 53.35-11.8L53.35-11.8Q54.28-11.8 55.1-11.64 55.91-11.49 56.36-11.24L56.36-11.24 55.98-9.99Q55.53-10.21 54.97-10.35 54.42-10.48 53.48-10.48L53.48-10.48Q51.56-10.48 50.57-9.24 49.58-8.01 49.58-5.73L49.58-5.73Q49.58-4.71 49.8-3.85 50.02-2.99 50.53-2.38 51.03-1.76 51.82-1.42 52.61-1.07 53.75-1.07L53.75-1.07Q54.68-1.07 55.32-1.28 55.96-1.49 56.25-1.65L56.25-1.65 56.56-0.4Q56.16-0.18 55.3 0.03 54.44 0.25 53.5 0.25Z"
                  stroke="#ED1C24" fill="#ED1C24" transform="translate(-1.6299999952316284, 17.309999465942383)"></path>
              </g>

              {# INTELLIGENCE #}
              <g data-gra="path-name-1" fill="#fefcfb" transform="translate(57.93000030517578,0)">
                <g transform="scale(1)">
                  <path
                    d="M1.85 0L1.85-15.46 4.66-15.46 4.66 0 1.85 0ZM8.23 0L8.23-11.28Q9.01-11.51 10.26-11.71 11.51-11.91 13.02-11.91L13.02-11.91Q14.45-11.91 15.41-11.52 16.37-11.13 16.94-10.43 17.51-9.72 17.74-8.73 17.98-7.74 17.98-6.56L17.98-6.56 17.98 0 15.28 0 15.28-6.13Q15.28-7.07 15.15-7.73 15.03-8.39 14.75-8.8 14.47-9.21 13.99-9.4 13.52-9.59 12.82-9.59L12.82-9.59Q12.31-9.59 11.75-9.52 11.2-9.46 10.93-9.41L10.93-9.41 10.93 0 8.23 0ZM21.14-4.64L21.14-14.74 23.84-15.19 23.84-11.66 27.99-11.66 27.99-9.41 23.84-9.41 23.84-4.66Q23.84-3.26 24.29-2.65 24.73-2.05 25.8-2.05L25.8-2.05Q26.54-2.05 27.11-2.21 27.68-2.36 28.01-2.5L28.01-2.5 28.46-0.36Q27.99-0.16 27.23 0.06 26.47 0.27 25.45 0.27L25.45 0.27Q24.2 0.27 23.36-0.07 22.53-0.4 22.03-1.04 21.54-1.67 21.34-2.58 21.14-3.48 21.14-4.64L21.14-4.64ZM29.75-5.78L29.75-5.78Q29.75-7.32 30.21-8.47 30.67-9.63 31.42-10.4 32.18-11.17 33.16-11.56 34.14-11.95 35.17-11.95L35.17-11.95Q37.58-11.95 38.93-10.46 40.28-8.97 40.28-6L40.28-6Q40.28-5.78 40.27-5.5 40.26-5.22 40.23-5L40.23-5 32.54-5Q32.65-3.59 33.53-2.82 34.41-2.05 36.08-2.05L36.08-2.05Q37.07-2.05 37.88-2.23 38.69-2.41 39.16-2.61L39.16-2.61 39.52-0.4Q39.3-0.29 38.91-0.17 38.52-0.04 38.01 0.06 37.51 0.16 36.93 0.22 36.35 0.29 35.75 0.29L35.75 0.29Q34.21 0.29 33.07-0.17 31.94-0.62 31.2-1.44 30.46-2.25 30.11-3.36 29.75-4.46 29.75-5.78ZM32.56-6.98L37.58-6.98Q37.58-7.54 37.42-8.04 37.27-8.54 36.97-8.91 36.66-9.28 36.23-9.49 35.79-9.7 35.19-9.7L35.19-9.7Q34.57-9.7 34.1-9.47 33.63-9.23 33.31-8.85 32.98-8.47 32.81-7.98 32.63-7.49 32.56-6.98L32.56-6.98ZM47.57-2.01L47.19 0.22Q45.99 0.2 45.2-0.04 44.4-0.29 43.94-0.75 43.47-1.2 43.28-1.88 43.09-2.56 43.09-3.43L43.09-3.43 43.09-16.86 45.79-17.31 45.79-3.95Q45.79-3.46 45.86-3.12 45.94-2.79 46.14-2.55 46.34-2.32 46.69-2.2 47.04-2.07 47.57-2.01L47.57-2.01ZM54.19-2.01L53.81 0.22Q52.61 0.2 51.82-0.04 51.03-0.29 50.56-0.75 50.09-1.2 49.9-1.88 49.71-2.56 49.71-3.43L49.71-3.43 49.71-16.86 52.41-17.31 52.41-3.95Q52.41-3.46 52.49-3.12 52.57-2.79 52.77-2.55 52.97-2.32 53.31-2.2 53.66-2.07 54.19-2.01L54.19-2.01ZM59.1-11.66L59.1 0 56.4 0 56.4-11.66 59.1-11.66ZM59.39-15.08L59.39-15.08Q59.39-14.32 58.9-13.87 58.41-13.43 57.74-13.43L57.74-13.43Q57.05-13.43 56.56-13.87 56.07-14.32 56.07-15.08L56.07-15.08Q56.07-15.86 56.56-16.3 57.05-16.75 57.74-16.75L57.74-16.75Q58.41-16.75 58.9-16.3 59.39-15.86 59.39-15.08ZM64.65-6.13L64.65-6.13Q64.65-4.42 65.4-3.62 66.15-2.83 67.33-2.83L67.33-2.83Q67.98-2.83 68.55-3.01 69.11-3.19 69.47-3.43L69.47-3.43 69.47-9.48Q69.18-9.55 68.76-9.6 68.33-9.66 67.69-9.66L67.69-9.66Q66.21-9.66 65.43-8.69 64.65-7.72 64.65-6.13ZM72.17-11.28L72.17-1.18Q72.17 1.61 70.75 2.9 69.34 4.19 66.42 4.19L66.42 4.19Q65.35 4.19 64.33 4.01 63.32 3.84 62.49 3.55L62.49 3.55 62.98 1.25Q63.67 1.54 64.55 1.72 65.43 1.9 66.46 1.9L66.46 1.9Q68.09 1.9 68.78 1.23 69.47 0.56 69.47-0.76L69.47-0.76 69.47-1.2Q69.07-1 68.41-0.8 67.75-0.6 66.91-0.6L66.91-0.6Q65.79-0.6 64.87-0.96 63.94-1.32 63.28-2.01 62.62-2.7 62.26-3.74 61.89-4.77 61.89-6.13L61.89-6.13Q61.89-7.4 62.28-8.47 62.67-9.55 63.42-10.3 64.16-11.06 65.23-11.49 66.3-11.91 67.66-11.91L67.66-11.91Q68.98-11.91 70.16-11.71 71.34-11.51 72.17-11.28L72.17-11.28ZM74.96-5.78L74.96-5.78Q74.96-7.32 75.41-8.47 75.87-9.63 76.63-10.4 77.39-11.17 78.37-11.56 79.35-11.95 80.38-11.95L80.38-11.95Q82.79-11.95 84.13-10.46 85.48-8.97 85.48-6L85.48-6Q85.48-5.78 85.47-5.5 85.46-5.22 85.44-5L85.44-5 77.75-5Q77.86-3.59 78.74-2.82 79.62-2.05 81.29-2.05L81.29-2.05Q82.27-2.05 83.09-2.23 83.9-2.41 84.37-2.61L84.37-2.61 84.73-0.4Q84.5-0.29 84.11-0.17 83.72-0.04 83.22 0.06 82.72 0.16 82.14 0.22 81.56 0.29 80.96 0.29L80.96 0.29Q79.42 0.29 78.28-0.17 77.14-0.62 76.41-1.44 75.67-2.25 75.31-3.36 74.96-4.46 74.96-5.78ZM77.77-6.98L82.79-6.98Q82.79-7.54 82.63-8.04 82.47-8.54 82.17-8.91 81.87-9.28 81.44-9.49 81-9.7 80.4-9.7L80.4-9.7Q79.77-9.7 79.31-9.47 78.84-9.23 78.51-8.85 78.19-8.47 78.01-7.98 77.83-7.49 77.77-6.98L77.77-6.98ZM88.34 0L88.34-11.28Q89.12-11.51 90.37-11.71 91.62-11.91 93.13-11.91L93.13-11.91Q94.56-11.91 95.52-11.52 96.48-11.13 97.05-10.43 97.62-9.72 97.85-8.73 98.08-7.74 98.08-6.56L98.08-6.56 98.08 0 95.39 0 95.39-6.13Q95.39-7.07 95.26-7.73 95.14-8.39 94.86-8.8 94.58-9.21 94.1-9.4 93.62-9.59 92.93-9.59L92.93-9.59Q92.42-9.59 91.86-9.52 91.3-9.46 91.04-9.41L91.04-9.41 91.04 0 88.34 0ZM100.74-5.82L100.74-5.82Q100.74-7.11 101.14-8.24 101.54-9.37 102.29-10.19 103.04-11.02 104.11-11.49 105.18-11.95 106.51-11.95L106.51-11.95Q108.17-11.95 109.64-11.35L109.64-11.35 109.06-9.14Q108.59-9.34 108-9.48 107.41-9.61 106.74-9.61L106.74-9.61Q105.15-9.61 104.33-8.62 103.5-7.63 103.5-5.82L103.5-5.82Q103.5-4.08 104.28-3.07 105.07-2.05 106.92-2.05L106.92-2.05Q107.61-2.05 108.28-2.19 108.95-2.32 109.44-2.52L109.44-2.52 109.82-0.29Q109.37-0.07 108.47 0.11 107.56 0.29 106.6 0.29L106.6 0.29Q105.11 0.29 104.01-0.17 102.9-0.62 102.18-1.44 101.45-2.25 101.1-3.38 100.74-4.51 100.74-5.82ZM111.27-5.78L111.27-5.78Q111.27-7.32 111.72-8.47 112.18-9.63 112.94-10.4 113.7-11.17 114.68-11.56 115.66-11.95 116.68-11.95L116.68-11.95Q119.09-11.95 120.44-10.46 121.79-8.97 121.79-6L121.79-6Q121.79-5.78 121.78-5.5 121.77-5.22 121.75-5L121.75-5 114.05-5Q114.16-3.59 115.05-2.82 115.93-2.05 117.6-2.05L117.6-2.05Q118.58-2.05 119.39-2.23 120.21-2.41 120.68-2.61L120.68-2.61 121.03-0.4Q120.81-0.29 120.42-0.17 120.03-0.04 119.53 0.06 119.03 0.16 118.45 0.22 117.87 0.29 117.26 0.29L117.26 0.29Q115.73 0.29 114.59-0.17 113.45-0.62 112.71-1.44 111.98-2.25 111.62-3.36 111.27-4.46 111.27-5.78ZM114.08-6.98L119.09-6.98Q119.09-7.54 118.94-8.04 118.78-8.54 118.48-8.91 118.18-9.28 117.74-9.49 117.31-9.7 116.71-9.7L116.71-9.7Q116.08-9.7 115.61-9.47 115.15-9.23 114.82-8.85 114.5-8.47 114.32-7.98 114.14-7.49 114.08-6.98L114.08-6.98Z"
                    transform="translate(-1.850000023841858, 17.309999465942383)"></path>
                </g>
              </g>
            </g>
          </g>

          {# FM #}
          <g data-gra="path-slogan" fill="#fefcfb" transform="translate(82.68999767303467,27.5)">
            <g transform="scale(1, 1)">
              <g transform="scale(1)">
                <path
                  d="M1.08-7.87L1.08 0L2.08 0L2.08-3.53L5.08-3.53L5.08-4.37L2.08-4.37L2.08-7.03L5.62-7.03L5.62-7.87ZM7.01-7.87L7.01 0L7.93 0L7.93-4.33C7.93-4.68 7.92-5.07 7.88-5.50C7.85-5.92 7.82-6.31 7.80-6.66L7.85-6.66L8.47-4.91L10.00-0.79L10.56-0.79L12.07-4.91L12.71-6.66L12.76-6.66C12.72-6.31 12.69-5.92 12.67-5.50C12.64-5.07 12.62-4.68 12.62-4.33L12.62 0L13.57 0L13.57-7.87L12.40-7.87L10.88-3.65L10.33-2.04L10.28-2.04L9.71-3.65L8.18-7.87Z"
                  transform="translate(-1.08, 7.872)"></path>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </svg>


  </svg>
</div>