<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyLastFm</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {# ***** HOME ***** #}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        {# ***** My Page ***** #}
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/myPage">My Page</a>
          </li>
        {% endif %}

        {# ***** My scrobbles ***** #}
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/myPage/myScrobbles">My Scrobbles</a>
          </li>
        {% endif %}

        {# ***** My artists ***** #}
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/myPage/myArtists">My Artists</a>
          </li>
        {% endif %}

        {# ***** My albums ***** #}
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/myPage/myAlbums">My Albums</a>
          </li>
        {% endif %}

        {# ***** My tracks ***** #}
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/myPage/myTracks">My Tracks</a>
          </li>
        {% endif %}

        {# ***** Statistics ***** #}
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/myPage/myStatistics">My Stats</a>
          </li>
        {% endif %}

        {# ***** My Account ***** #}
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/myAccount">My Account</a>
          </li>
        {% endif %}

      </ul>
      {% include 'base/div_login.html.twig' %}
    </div>
  </div>
</nav>