{% set style = '' %}
{% if proportion != 0 %}
  {% set style = 'width:' ~ proportion ~ '%' %}
{% endif %}

{%  if proportion == 100 %}
  {% set class = 'bg-success' %}
  {% set inProgressText = '' %}
{% elseif proportion == 0 %}
  {% set class = '' %}
  {% set inProgressText = '' %}
{% else %}
  {% set class = '' %}
  {% set inProgressText = proportion|round ~ ' %' %}
{% endif %}
<div class="progress" style="width: 30%">
  <div class="progress-bar {{ class }}" style="{{ style }}"  role="progressbar" aria-valuenow="{{ proportion }}" aria-valuemin="0" aria-valuemax="100">
    {{ inProgressText }}
  </div>
</div>

