{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
  <div>
    <h1>Your last Scrobbles</h1>
  </div>
  {% include 'top_artists/top_artists.html.twig' %}
{% endblock %}