{%  if not percentText is defined %}
  {% set percentText = percent|round ~ ' %' %}
{% endif %}
{%  if percent == 100 %}
  {% set color = 'bg-success' %}
{% endif %}
{%  if not class is defined %}
  {% set class = '' %}
{% endif %}
{%  if not label is defined %}
  {% set label = '' %}
{% endif %}
<div class="flex justify-between mb-1">
  <span class="text-base font-medium text-red-950 dark:text-gray-400">{{ label }}</span>
  <span class="text-sm font-medium text-red-950 dark:text-white">{{ percentText }}</span>
</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-800">
  <div class="bg-red-950 h-2.5 rounded-full" style="width: {{ percent }}%;"></div>
</div>
