{% if pagination is defined and pagination == 1 %}
  <div class="row">
    <div class="col">
      {{ knp_pagination_render(albums) }}
    </div>
  </div>
{% endif %}

<div class="grid grid-cols-2 md:grid-cols-3 gap-4">

  {% for album in albums %}

    {% set albumCount =  "" %}
    {% if userPlaycount is defined and userPlaycount == 1 %}
      {% set albumCount =  album.count %}
    {% endif %}

    {% set imageUrl =  "" %}
    {% for image in album[0].image %}
      {% if image.size == 3 %}
        {% set imageUrl =  image.url %}
      {% endif %}
    {% endfor %}

    {% include 'my_albums/albumCard.html.twig' with {
      'image': imageUrl,
      'title': album[0].name,
      'subTitle': album[0].artist.name,
      'userPlaycount': albumCount,
      'button': 'More about ' ~ album[0].name,
    } %}
  {% endfor %}
</div>


{% if pagination is defined and pagination == 1 %}
  <div class="row">
    <div class="col">
      {{ knp_pagination_render(albums) }}
    </div>
  </div>
{% endif %}

