{% extends 'base.html.twig' %}

{% block title %} - Albums{% endblock %}

{% block body %}

  {% include 'base/html/page-title.html.twig' with {'title': 'Your listened albums'} %}

  {% include 'base/searchBar/index.html.twig' %}

  <div class="mt-10">
    {% include 'my_albums/albums.html.twig' %}
  </div>

{% endblock %}