{% extends 'base.html.twig' %}

{% block title %}Scrobbles imported{% endblock %}

{% block body %}

  <div class="container">
    <div class="alert alert-info"> {{ message }}</div>
    <hr>


  </div>
{% endblock %}