{% extends 'base.html.twig' %}

{% block title %}Artists{% endblock %}

{% block body %}
  <div>
    <h1>Your Artists</h1>
  </div>
  {% include 'searchBar/index.html.twig' %}
  {% include 'my_artists/artists.html.twig' %}
{% endblock %}