{% extends 'base.html.twig' %}

{% block title %}Tracks{% endblock %}

{% block body %}
  <div>
    <h1>Your Tracks</h1>
  </div>
  {% include 'searchBar/index.html.twig' %}
  {% include 'my_tracks/tracks.html.twig' %}
{% endblock %}