{% extends 'base.html.twig' %}

{% block title %} - Tracks{% endblock %}

{% block body %}

  {% include 'base/html/page-title.html.twig' with {'title': 'All your tracks'} %}

  {% include 'base/searchBar/index.html.twig' %}

  <div>{% include 'my_tracks/tracks.html.twig' %}</div>

{% endblock %}