{% extends 'base.html.twig' %}

{% block title %} - Registration{% endblock %}

{% block body %}

  <div class="py-8 px-4 mx-auto w-full lg:py-16  lg:gap-16">
  <div class="w-full w-full p-6 sm:p-8 bg-white rounded-lg shadow-xl dark:bg-gray-800">
    <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
      Create your account
    </h2>
    <br class="my-2" />
    {{ form_start(form) }}

    <div class="flex justify-center">
      <div class="sub-content">
        <div>
          {{ form_errors(form) }}
        </div>

        <div class="my-3">
          <div class="col mt-1 mr-2">{% include 'base/form/label.html.twig' with {'input': form.email} %}</div>
          <div class="col">{% include 'base/form/input.html.twig' with {'input': form.email } %}</div>
        </div>

        <div class="my-3">
          <div class="col mt-1 mr-2">{% include 'base/form/label.html.twig' with {'input': form.password} %}</div>
          <div class="col">{% include 'base/form/input.html.twig' with {'input': form.password, 'type' : 'password'} %}</div>
        </div>

        <div class="my-3">
          <div class="col mt-1 mr-2">{% include 'base/form/label.html.twig' with {'input': form.userName} %}</div>
          <div class="col">{% include 'base/form/input.html.twig' with {'input': form.userName } %}</div>
        </div>
      </div>


      <div class="sub-content">

        <div class="my-3">
          <div class="col mt-1 mr-2">{% include 'base/form/label.html.twig' with {'input': form.lastFmUserName} %}</div>
          <div class="col">{% include 'base/form/input.html.twig' with {'input': form.lastFmUserName } %}</div>
        </div>

        <div class="my-3">
          <div class="col mt-1 mr-2">{% include 'base/form/label.html.twig' with {'input': form.lastFmApiKey} %}</div>
          <div class="col">{% include 'base/form/input.html.twig' with {'input': form.lastFmApiKey } %}</div>
        </div>

        <div class="my-3">
          <div class="col mt-1 mr-2">{% include 'base/form/label.html.twig' with {'input': form.lastFmApiSessionKey} %}</div>
          <div class="col">{% include 'base/form/input.html.twig' with {'input': form.lastFmApiSessionKey } %}</div>
        </div>

        <div class="my-3">
          <div class="col mt-1 mr-2">{% include 'base/form/label.html.twig' with {'input': form.lasFmApiSecret} %}</div>
          <div class="col">{% include 'base/form/input.html.twig' with {'input': form.lasFmApiSecret } %}</div>
        </div>

      </div>

    </div>

    <div class="flex items-center justify-center mr-3 col mt-14">
      <button type="submit" class="button-main-std ml-2">Sign up</button>
    </div>

    {{ form_end(form) }}

  </div>

{% endblock %}