body {
  background-color: skyblue;
}

.page, .first, .next, .previous, .last, .current {
  margin: 0 3px 0 3px;
}

.bold {
  font-weight: bold;
}

.inputFormInvisible{
  display: none;
}

button.delete-widget{
  background-color: black;
  color: white;
  position: absolute;
  right: 7px;
  top: 7px;
}

.widget-chart{
  width: 100%;
  height: 100%;
}