@tailwind base;
@tailwind components;
@tailwind utilities;

/* Begin of Tailwind CSS */

.button-black-std{
  @apply text-white bg-gray-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 no-margin;
  border: 5px #810000 solid !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
.button-black-std:hover{
  @apply bg-gray-700;
}
.button-black-std:focus{
  @apply outline-none ring-4 ring-gray-300;
}
.dark .button-black-std{
  @apply bg-gray-800 border-gray-700;
}
.dark .button-black-std:hover{
  @apply bg-gray-700;
}
.dark .button-black-std:focus{
  @apply ring-gray-700;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li:hover{
  @apply cursor-pointer;
  @apply font-bold;
  @apply rounded-lg;
  @apply bg-slate-900;
}
.dropdown-menu li:hover a{
  @apply text-gray-200;
}

.no-margin{
  margin: 0;
}





/* END of Tailwind */



.page, .first, .next, .previous, .last, .current {
  margin: 0 3px 0 3px;
}

.bold {
  font-weight: bold;
}

.widget-chart{
  width: 100%;
  height: 100%;
}

button.delete-widget{
  background-color: black;
  color: white;
  position: absolute;
  right: 7px;
  top: 7px;
}

button.modify-widget{
  background-color: red;
  color: white;
  position: absolute;
  left: 7px;
  top: 7px;
}

button.info-widget{
  display: none;
  background-color: blue;
  color: white;
  position: absolute;
  left: 21px;
  top: 7px;
}

/* Hide the close button of widget when mouse is not over it */
.grid-stack > .grid-stack-item.ui-resizable-autohide > .grid-stack-item-content > .delete-widget{
  display: none
}

/* Hide the modify button of widget when mouse is not over it */
.grid-stack > .grid-stack-item.ui-resizable-autohide > .grid-stack-item-content > .modify-widget{
  display: none
}

 /*Hide the info button of widget when mouse is not over it*/
.grid-stack > .grid-stack-item.ui-resizable-autohide > .grid-stack-item-content > .info-widget{
  display: none
}

.widget-info-content{
  display: none;
  background-color: grey;
  color: black;
  position: absolute;
  left: 35px;
  top: 7px;
  border: solid 2px black;
}

.info-block:hover .widget-info-content,
.grid-stack-item-content:hover .info-widget,
.grid-stack-item-content:hover .modify-widget,
.grid-stack-item-content:hover .delete-widget {
  display: block !important;
}

.period-custom{
  /*display: none;*/
}

.button-love{
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  display: inline-block;
}

.not-loved-track{
  background-image: url('../imgs/not-loved.png');
}

.loved-track{
  background-image: url('../imgs/loved.png');
}