{% extends 'base.html.twig' %}

{% block title %}Your last Scrobbles{% endblock %}

{% block body %}
  <div>
    <h1>Your last Scrobbles</h1>
  </div>
  {% include 'my_scrobbles/my_scrobbles.html.twig' %}
{% endblock %}