<div class="">

  {% if pagination is defined and pagination == 1 %}
    {{ knp_pagination_render(scrobbles) }}
  {% endif %}

  {% include 'base/html/table/table.html.twig' with {'thead' : myScrobblesThead, 'tbody': scrobbles, 'tbodyUrl' : myScrobblesTbodyUrl} %}

  {% if pagination is defined and pagination == 1 %}
    {{ knp_pagination_render(scrobbles) }}
  {% endif %}

</div>