<div>

  {% if pagination is defined and pagination == 1 %}
    {% set pagination = true %}
  {% else %}
    {% set pagination = false %}
  {% endif %}

  {% include 'base/html/table/table.html.twig' with {
    'thead' : myScrobblesThead,
    'tbody': scrobbles,
    'tbodyUrl' : myScrobblesTbodyUrl,
    'pagination' : pagination
  } %}

</div>