{% extends 'base.html.twig' %}

{% block title %} - My Page{% endblock %}

{% block body %}

  {% include 'base/html/page-title.html.twig' with {'title': 'Your Page'} %}
  <hr class="mb-8" />


  <div class="grid grid-cols-4 gap-4">
    <div class="col-span-3">
      {% include 'my_page/left_frame.html.twig' %}
    </div>

    <div class="py-12">
      {% include 'my_page/right_frame.html.twig' %}
    </div>
  </div>

  <script>
    loadCharts(true);
  </script>

{% endblock %}